@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(
        to bottom,
        #76b9cc,
        color-mix(in srgb, #636cd2 88%, #25212b 12%)
    );
    display: flex;
    justify-content: center;
    font-family: "Oxanium", sans-serif;
}

.base-page {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(to top, #20437a,  color-mix(in srgb, #5a4462 12%, #585a88 88%));
    align-items: center;
    min-height: calc(100vh - 40px);
    max-width: 580px;
    margin-top: 5vh;
    padding: 16px;
}